:root {
  --main-second-header: black;
  --main-text-color: white;
}

.secondNav__mainList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: var(--main-second-header);
  color: var(--main-text-color);
}

.secondNav__subList {
  display: flex;
  justify-content: space-around;
  background-color: #dbdbdb;
  height: initial;
  flex: 1;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  width: 100px;
}

h3 {
  cursor: pointer;
  padding: 0;
  flex: 1;
  width: 100px;
}

.hidden {
  height: 0px;
  overflow: hidden;
}
